<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <form action='db' method ='get'>
            <table width='80%' border=0>
                <h1>Enter user records</h1>
                <tbody>
                    <tr>UserID  :<input type="text"></tr><br>
                    <tr>Username:<input type="text"></tr><br>
                    <tr>Address :<input type="text"></tr><br>
                    <tr><input type ='submit' value = 'login'></tr>
                
                </tbody>
            </table>

        </form>
        <h1>Hello! here is your data</h1>
        <p>Congratulations The result is <%=result%></p>
    </body>
</html>