<html>
    <head>
        <title><%=title%></title>
    
    </head>
    
    <body>
        <h1><%=title%></h1>
        <p>Welcome to <%=title%></p><br>
        <form action='Details' method='post'>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>address</th>
                </tr>
                <tr>
                    
                
                </tr>
<!--
                <tr>
                    <td>ID:</td>
                
                    <td> <input type='text' name='id' placeholder="id"></td><br>
                </tr> 
                <tr>
                    <td>Name:</td>
              
                    <td><input type='text' name="name" placeholder="Name"></td><br>
                </tr>
                <tr>
                    <td>Address:</td>
               
                    <td><input type='text' name='address' placeholder="address"></td>
                 </tr>
                <tr>
                    <td><input type="submit" value='Add User'></td>
                    <td><input type="submit" value='Delete User'></td>
                </tr>

            </table>
            <% if (typeof result =='object' && result) { %> 
                <p> The updated Record is <%= result%></p>
            <% } %>
-->
            
            
        </form>
    </body>
</html>