<html>
<head>
    <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>  
    
    
    <body>
        <div class="jumbotron">
            <div class="container">
                <div class="page-header">
                    <h2> Enter your Email address to reset password</h2>
                </div>

                    <form action="forgot" id="form_id" method="post">

                        <div class="form-group">
                            <label for="email">email:</label>
                            <input name='email' id="email" class="form-control" type='email' placeholder="email" required\>
                        </div>
                            <button type="submit" id="btnvalidate" class="btn btn-warning" >Submit</button>   


                </form>

            </div>
        </div>

    </body>
</html>