<!DOCTYPE html>
<html>
<head>
    <title>My first Webpage </title>
</head>
<body>
    
    <form action="form" id="form_id" method="post">
        <table>
        
            <thead>Username:<input name='user' type="text"></thead>
            <thead>password:<input name='password' type='password'></thead>
            <tbody>Gender:<input type='radio'>Male | <input type='radio'>Female</tbody>
        <input type="submit"  value="submit">
           
        </table>
    </form>
        
</body>
</html>