<html>
    <head>
    </head>

    <body>
    
    <div id="messages">
    <% if(messages){ %>
  <% Object.keys(messages).forEach(function (type) { %>
    <% messages[type].forEach(function (message) { %>
      <div class="alert alert-<%= type %> alert-dismissible" role="alert">
<!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h2><%= message %></h2>
      </div>
    <% }) %>
  <% }) %>
<% } %>
    </div>
    </body>
</html>