<html>
<head>
    <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>  
    
    
    <body>
        <div class="jumbotron">
            <div class="container">
                <div class="page-header">
                    <h2> Enter password to reset </h2>
                </div>
                        
                    <form action="changepassword" id="form_id" method="post">
                         <div class="form-group">
                             <input type="hidden" name="name" value="<%= users.name %>" />
                            <label for="pwd">Password:</label>
                                <input name='password' id="password" class="form-control" type='password'placeholder="password">
                            </div>
                            <div class="form-group">
                                <label for="pwd">confirm Password:</label>
                                <input name='cpassword' id="cpassword" class="form-control" type='password' placeholder="confirm password">
                            </div>
                            <button type="submit" id="btnvalidate" class="btn btn-warning" >Submit</button>   


                </form>

            </div>
        </div>

    </body>
</html>